<div class="showtimes">
  <div class="showtime" >
    <div class="showtime-date"></div>
    <div class="showtime-section" >
      <ul>
        <li class="showtime-section-detail" *ngFor="let showtime of showtimes" (click)="openModal(ticket,showtime)">
          <a href="javascript:void(0);">
            <time>{{showtime.date | day }}</time>
            <span>{{showtime.time }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #ticket style="background-color:#1a1a1a">
  <div class="modal-header"  style="background-color: #1a1a1a">
    <h4 class="modal-title">Book a seat</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true"><h5>x</h5></span>
    </button>
  </div>
  <div class="modal-body" style="background-color:#1a1a1a">
    <div class="container">
      <div class="movie-data row">
        <div class="col-md-4">
          <div class="movie-poster">
            <img class="img-fluid" src="{{ movie.poster }}" alt="{{ movie.title }}" />
          </div>
        </div>
        <div class="col-md-8" >
          <h2>Hello, {{name}}!</h2>
          <hr>
          <div class="container">
            <h5 class="align-middle">You are about to make a purchase for {{movie.title}}</h5>
            <h6>On {{showtime.date | date}}</h6>
            <h6>At {{ticketTime}}</h6>
          </div>
          <hr>
          <h3>Confirm ?</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer" style="background-color:#1a1a1a">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cofirmPurchase()"><h5>confirm</h5></button>
  </div>
</ng-template>
